<!DOCTYPE html>
<html>

<head>
    <!-- Make it compatible to mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bank Loan Status </title> 

</head>

<body style="background: hsl(0, 25%, 97%);">
    <div class="login">
        <h1 style="color: rgb(72, 226, 167);">
            <legend>Bank Loan Approval Prediction</legend>
        </h1>
       <form action="{{ url_for('predict')}}" method="post">
        
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="Gender" placeholder="enter_your_Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="Male">
                    Male
                </option>
                <option value="Female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Married</label>
            <select class="form-control" name="Married" placeholder="married?" required>
                <option class="placeholder" selected disabled value="">Married?</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Dependents</label>
            <select class="form-control" name="Dependents"
                placeholder="Number of Dependents" required>
                <option class="placeholder" selected disabled value="">Select Dependents</option>
                <option value="0">
                    0
                </option>
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3+">
                    3+
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Education</label>
            <select class="form-control" name="Education" placeholder="enter_your_Education" required>
                <option class="placeholder" selected disabled value="">Select Education</option>
                <option value="Graduate">
                    Graduate
                </option>
                <option value="Not Graduate">
                    Not Graduate
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Self_Employed</label>
            <select class="form-control" name="Self_Employed" placeholder="Self_Employed" required>
                <option class="placeholder" selected disabled value="">Self_Employed</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        <div>
        <div class="mb-3">
            <label class="form-label">ApplicantIncome</label>
            <input class="form-control" type="number" name="ApplicantIncome" 
            placeholder="ApplicantIncome" min='0' max='1000000' />
        </div>
        <div class="mb-3">
            <label class="form-label">CoapplicantIncome</label>
            <input class="form-control" type="number" name="CoapplicantIncome" 
            placeholder="CoapplicantIncome" min='0' max='1000000' />
        </div>
        <div class="mb-3">
            <label class="form-label">LoanAmount</label>
            <input class="form-control" type="=number" name="LoanAmount" 
            placeholder="LoanAmount" min='0' max='10000' />
        </div>
        <div class="mb-3">
            <label class="form-label">Loan_Amount_Term</label>
            <input class="form-control" type="number" name="Loan_Amount_Term" 
            placeholder="Loan_Amount_Term" min='0' max='1000' />
        </div>
        <div class="mb-3">
            <label class="form-label">Credit_History</label>
            <select class="form-control" name="Credit_History" placeholder="Credit_History" required>
                <option class="placeholder" selected disabled value="">Credit_History</option>
                <option value=1.0>
                    1.0
                </option>
                <option value=0.0>
                    0.0
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Property_Area</label>
            <select class="form-control" name="Property_Area" placeholder="Property_Area" required>
                <option class="placeholder" selected disabled value="">Property_Area</option>
                <option value="Urban">
                    Urban
                </option>
                <option value="Rural">
                    Rural
                </option>
                <option value="Semiurban">
                    Semiurban
                </option>
            </select>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Loan Approval Status" required />
        </div>
    </form>
    <h2 style="color: rgb(105, 208, 208);">
       {{prediction_text}}
    </h2>
   <body>
</html>